* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin-left: 10p;
}

body {
    background-color: #1d1d1f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
